<div class="footer bg-custom p-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
        <div class="h5">Visit Us</div>
        <div>
          Shop 1/ 79-85 Oxford St, Bondi Junction
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
        <div class="h5">Quick Links</div>
        <div>
          <ul class="list-unstyled m-0">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="about.html">About</a>
            </li>
            <li>
              <a href="courses.html">Group courses</a>
            </li>
            <li>
              <a href="private.html">Private lessons</a>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
        <div class="h5">Connect with Us</div>
        <div>
          <ul class="list-unstyled">
            <li>
              <a href="contact.html">Contact Form</a>
            </li>
            <li>
              <a href="mailto:ismbondi@ismaustralia.com">ismbondi@ismaustralia.com</a>
            </li>
          </ul>
        </div>
        <div>
          <a href="https://www.facebook.com/ISMBONDI/">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
          <a href="https://www.instagram.com/ismbondi/">
            <i class="fab fa-instagram fa-2x ml-2"></i>
          </a>
          <a href="https://www.linkedin.com/company/ism-bondi-music-school/">
            <i class="fab fa-linkedin fa-2x ml-2"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
</div>